<div class="container mt-4 p-5 text-white rounded">
    <h2>Cars Available for sale</h2>
    <br />
    <div *ngIf="flag">
            <h2>Update Product</h2>
            <form (ngSubmit)="updateDataFromDb()">
                <label>Car Id</label>
                <input type="number" name="pid" [(ngModel)]="pid" readonly/><br/>
                <label>Price</label>
                <input type="number" name="price" [(ngModel)]="price"/><br/>
                <label>URL</label>
                <input type="URL" name="url" [(ngModel)]="url"/><br/>
                <input type="submit" value="update data"/>
                <input type="reset" value="reset"/>
            </form>
    </div>
    <br />
    <br />
    <br />  
    
    <span *ngFor="let p of products">
        <img src={{p.url}} width="600px" height="400px"/> <br />
        <span>{{p.pname}} </span>  
        <br />
        <span><label>Price =</label>{{p.price}}</span><br /> <br />
        <input class="btn btn-danger btn-sm p-3" type="button" value="                                                             Delete Product                                                             " (click)="deleteProduct(p.pid)"/>
        <br />
        <br />
        <input class="btn btn-warning btn-sm p-3" type="button" value="                                                            Update Product                                                            " (click)="updateProduct(p)"/>
        <br />
        <br />
        <br />
        <br />
        <br />
    </span>
</div>